/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: tahoma;
	padding: 0;
	margin: 0;
	height: 100vh;
	overflow: hidden;
}