///////////////////////// colors

// black - white
$hex-white: #ffffff;
$hex-black: #000000;

// greys
$grey-lightest: #e1e1e1;
$grey-light: #cccccc;
$grey-medium: #888888;
$grey-dark: #555555;
$grey-darkest: #222222;

// reds
$red-light: #cc0000;
$red-medium: #9a0000;
$red-dark: #660000;
$red-darkest: #330000;

// blues
$blue-medium: #0055ff;

// errors
$error-red: $red-light;



///////////////////////// page items
$chair-color: $red-darkest;
$chair-arms-color: $red-darkest;
$seat-color: $grey-medium;
$chair-hover-color-change: 40%;



///////////////////////// page rhythm
$standard-spacing: 1rem;
$large-spacing: $standard-spacing * 2;



///////////////////////// border-radii
$br-std: 0.25rem;



///////////////////////// animations
$ticket-scale-inactive: 0.8;
$ticket-scale-active: 1;



///////////////////////// layers ( z-index )
$z-100: 100;
$z-90: 90;
$z-80: 80;
$z-70: 70;
$z-60: 60;
$z-50: 50;
$z-40: 40;
$z-30: 30;
$z-20: 20;
$z-10: 10;
$z-0: 0;

$z-top: $z-100;
$z-mid: $z-50;
$z-bottom: $z-0;



///////////////////////// page items

// chair
$chair-color: $grey-dark;
$seat-color: $grey-medium;
$chair-hover-color-change: 40%;

$chair-border-radius: $br-std;


// spinner

$spinner-size: 75px;
$spinner-border-width: 1rem;
$spinner-color: $blue-medium;
$spinner-duration: 0.5s;